* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(180deg, #f8a4d8, #6c63ff);
}
.dash {
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  width: 90%;
  height: 90%;
  background-color: #6c63ff;
  border-radius: 40px;
}
nav {
  display: flex;
  width: 20%;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 50%;
  height: 10px;
  font-size: 19px;
}
.logo span{
  width: 30px;
  height: 30px;
  background-image: url(./icon_27.png);
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.db {
  height: 70%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100%;
}
.db div {
  width: 90%;
  height: 10%;
  border-radius: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.db div:hover {
  background-image: linear-gradient(450deg,#5a6170,#9da6b8);
  transition: 2.5s 2s ease-in-out;
}
.db div a {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #000;
}
.logout a {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
}
main {
  background-color: #5a6170;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column;
}
main .title, p, h3{
  width: 95%;
  height: 50px;
  display: flex;
  flex-flow: column;
}
.section1 {
  width: 95%;
  height: 30%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section1 img {
  width: 50px;
  height: 50px;
}
.section1 div {
  display: flex;
  justify-content: space-evenly;
  flex-flow: column;
  width: calc(95% / 5);
  border-radius: 10px;
  height: 90%;
  padding: 10px;
  border: 1px solid gray;
}
.section1 div:hover {
  background-color: rgba(218, 223, 234,0.4);
  transition: 2s 0.5s ease-in-out;
}
.section1 a span {
  display: flex;
  justify-content: flex-end;
  color: #000;
}
.section2 {
  width: 95%;
  height: 50%;
  border-radius: 10px;
  background-color: #9da6b8;
  display: flex;
}
aside {
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
aside .chat-all {
  background-color: #9da6b8;
  display: flex;
  width: 80%;
  height: 10%;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 20px;
}
.chat-all span {
  display: flex;
  width: 80px;
  height: 40px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  
}
.child1:hover {
  background-color: #f8a4d8;
  transition: 0.5s 0.5s ease-in-out;
}
.child2:hover {
  background-color: #f8a4d8;
  transition: 0.5s 0.5s ease-in-out;
}
aside .chat {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  overflow: hidden;
  padding-left: 10px;
}
aside .chat:hover {
  background-image: linear-gradient(450deg,#5a6170,#9da6b8);
  transition: 0.5s 0.2s ease-in-out;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
}
aside .chat span, p {
  display: flex;
  flex-flow: column;
  width: 90%;
  height: 80%;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5px;
  overflow: hidden;
}
aside img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}